extends layout

block content
  h1 IPFS blockchain explorer
  p.lead statistics
  hr
  .row
    .col-sm-6#container
    .col-sm-6
      h2 Bandwidth
      p rate in: 
        b
          span#rateIn  0
          span b
      p rate out: 
        b
          span#rateOut  0
          span b
      p total in: 
        b
          span#totalIn  0
          span b
      p total out: 
        b
          span#totalOut  0
          span b


    .col-sm-6
      h2 Repo
      p Number of objects 
        b
          span#repoNumObjects  0
      p Size  
        b
          span#repoSize  0
          span  MiB
    .col-sm-6
      h2 Peers
      p#peers
